---

---

<h1>BAREEN X SMUK <span class="stor">HASHTAGS</span></h1>
<div class="hashtags">
  <p>#BareenXSmukfest</p>
  <p>#SmukStyle</p>
  <p>#BAREENbasics</p>
  <p>#Smukfest2025</p>
  <p>#SustainableFesivalWear</p>
</div>
<div class="billeder">
  <img src="bareen1.webp" alt="festval gæster" class="hide-on-mobile" />
  <img src="bareen2.webp" alt="festival gæster" class="hide-on-mobile" />
  <img src="bareen3.webp" alt="festval gæster" />
  <img src="bareen4.webp" alt="festival gæster" />
</div>

<style>
  h1 {
    color: #c3c0c0;
    font-size: 15px;
    margin-left: 1rem;
  }
  .stor {
    font-size: 20px;
  }
  .hashtags {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

    color: #2b5324;
    text-align: center;
    font-size: 10px;
  }
  .billeder {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* gap: 1rem; */
    max-width: 100%;
    overflow-x: hidden;
  }
  img {
    width: 100%;
    height: 150px;
    display: block;
    object-fit: cover;
  }
  /* } */
  @media (min-width: 900px) {
    h1 {
      color: #c3c0c0;
      font-size: 15px;
      margin-left: 4rem;
    }
    .stor {
      font-size: 32px;
    }
    .hashtags {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      color: #2b5324;
      text-align: center;
      font-size: 20px;
    }
    .billeder {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      /* gap: 1rem; */
      max-width: 100%;
      overflow-x: hidden;
    }
    img {
      width: 100%;
      height: 400px;
      display: block;
      object-fit: cover;
    }
  }
</style>
