---
---

<section class="info_section">
        <div class="info">
            <p>Vi er klar med en sommernyhed, vi har glædet os til at dele.<br>
                Bareen x Smukfest et samarbejde skabt til solrige dage, sene nætter og uforglemmelige øjeblikke.</p>

            <p>Kom med til en eksklusiv live-udgave af <strong>“bare en frokost”</strong>, hvor vi inviterer Simon Kvamm
                til bords.<br>
                Vi dykker ned i kreativitet, karriere, kaos og alt det, der sker bag kulissen på en af Danmarks mest
                ikoniske stemmer.</p>

            <p>De første 50 gæster får frokost og en <strong>limited edition</strong> t-shirt med på vejen.<br>
                Du finder os på festivalpladsen hele ugen kom og mærk stemningen, og hæng lidt ud med os.</p>

            <p><strong>Vi glæder os til at se dig!</strong></p>
        </div>
         <hr class="my_line">
    </section>

    
    <style>
.info_section {
  background-color: white;
  color: #000000;
  padding: 3rem 2rem;
}

.info {
  max-width: 800px;
  margin: 0 auto;
  font-size: 1rem;
  line-height: 1.8;
  text-align: center;
}

.my_line {
  border: none;
  height: 1px;
  background-color: black;
  margin: 50px 0;
}
    </style>