---

---



<div class="Textbox_1">
<h1 class="txt1">THE</h1>
<h1 class="txt2">BAREEN</h1>
</div>

<div class="Textbox_2">

<h1 class="txt3">BREAK</h1>


  <div class="oval-container">
    <div class="date-label">DATE</div>
    <div class="date-value">05.08.2025</div>
  </div>

<img class="cocktail_pic" src="cocktail.webp" alt="cocktail">

</div>


<div class="Textbox_3">

    <div class="info1">
        <h3>START FROM 12 - 17 PM</h3>
        <p class="small_txt">SOUTH SIDE OF FESTIVAL PARK, STADION</p>
    </div>
    <div class="info2">
        <h3>EVENT HIGHLIGHTS:</h3>
        <ul>
            <li>LIVE MUSIC</li>
            <li>FOOD</li>
            <li>OPEN BAR</li>
            <li>GOODIE BAG</li>
        </ul>
    </div>

</div>

<div class="bottom_txt">
    <p class="bottomtxt_1">FIND MORE INFORMATION AT</p>
      <p class="bottomtxt_2">@BAREENXSMUK</p>
</div>

<hr class="line">








<style>



h1{
      font-family: "Barriecito", system-ui;
  font-weight: 200;
  font-style: normal;
  font-size: 100px;
  color: #2B5324;
}

.Textbox_1{
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 2fr;
    padding-right: 1rem;
    padding-left: 0.3rem;
}

.Textbox_2{
        display: grid;
        grid-template-columns: 2fr;
        grid-template-rows: 2fr;
}


.txt1{
    grid-column: 1/2;
    grid-row: 1;
     padding-left: 0rem;
     margin-top: 0rem;
   
}

.txt2{
    grid-column: 2/3;
    grid-row: 2/3;
     margin-top: -4rem;
     padding-right: 0rem;

}

.txt3{
      grid-column: 1/2;
    grid-row: 1;
    padding-left: 1rem;
    margin-top: -3rem;
}


.cocktail_pic{
    height: 120%;
    width: 348%;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    margin-top: -4rem;
    margin-left: -8rem;

}


.date_txt{
       grid-column: 1 / 2;
    grid-row: 2 / 3;
    text-align: center;
    margin-top: -9rem;
}

h2{
    color: #2B5324;
    font-size: 35px;
    font-weight: 30;
}


.oval-container {
   border: 2px solid #2f4f2f;
    border-radius: 50% / 50%;
    padding: 26px 61px;
    text-align: center;
    color: #2f4f2f;
    margin-left: 1rem;
    margin-right: 10rem;
    margin-top: -3rem;
    margin-bottom: 3rem;
}

.date-label {
  font-size: 22px;
  margin-bottom: 6px;
    font-family: "Montserrat", sans-serif;
}

.date-value {
  font-size: 30px;
  font-weight: bold;
}


.Textbox_3{
    display: grid;
    grid-template-columns: 4fr;
    grid-template-rows: 1fr;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 2rem;
}

.info1{
    grid-column: 1/3;
    grid-row: 1;
    padding-right: 2rem;
}

.info2{
    grid-column: 3/5;
    grid-row: 1;
}

ul{
    margin-left: -1.6rem;
    color: #2f4f2f;
    font-size: 14px;
  font-family: "Montserrat", sans-serif;
    font-weight: 300;
}


h3{
    color: #2f4f2f;
}

.small_txt{
color: #2f4f2f;
font-size: 14px;
  font-family: "Montserrat", sans-serif;
    font-weight: 300;
}

.bottom_txt{
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 1fr;
    padding-left: 1rem;
    padding-right: 1rem;
}

.bottomtxt_1{
    grid-column: 1/2;
    grid-row: 1;
    color: #2f4f2f;
    text-align: left;
    font-size: 10px;
}


.bottomtxt_2{
    grid-column: 2/3;
    grid-row: 1;
    color: #2f4f2f;
    text-align: end;
        font-size: 10px;
}

.line{
    border: none;
    height: 1px;
    background-color: #2f4f2f;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 3rem;
}


@media (min-width: 900px) {

    h1{
  font-family: "Barriecito", system-ui;
  font-weight: 200;
  font-style: normal;
  font-size: 214px;
  color: #2B5324;
}

.Textbox_1{
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 2fr;
}

.Textbox_2{
        display: grid;
}


.txt1{
    grid-column: 1/2;
    grid-row: 1;
     padding-left: 12rem;
     margin-top: 0rem;
   
}

.txt2{
    grid-column: 2/3;
    grid-row: 2/3;
     margin-top: -13rem;
     padding-right: 12rem;

}

.txt3{
      grid-column: 1/2;
    grid-row: 1;
   padding-left: 10rem;
    margin-top: -12rem;
}

.cocktail_pic{
        height: 117%;
        width: 113%;
        grid-column: 2 / 3;
        grid-row: 1 / 3;
        margin-top: -13rem;
        margin-right: 7rem;
        margin-left: -10rem;
}



.oval-container {
    border: 2px solid #2f4f2f;
    border-radius: 50% / 50%;
    padding: 40px 120px;
    text-align: center;
    color: #2f4f2f;
    margin-left: 11rem;
    margin-right: 19rem;
    margin-top: -6rem;
    margin-bottom: 17rem;
}

.date-label {
  font-size: 30px;
  margin-bottom: 10px;
}

.date-value {
  font-size: 64px;
  font-weight: bold;
}


.Textbox_3{
    display: grid;
    grid-template-columns: 4fr;
    grid-template-rows: 1fr;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-bottom: 5rem;
    margin-top: -12rem;
}

.info1{
    grid-column: 1/3;
    grid-row: 1;
         padding-right: 19rem;
        padding-left: 6rem;
}

.info2{
        grid-column: 3 / 5;
        grid-row: 1;
        padding-right: 6rem;
}

ul{
    margin-left: -1.6rem;
    color: #2f4f2f;
    font-size: 30px;
}

h3{
    color: #2f4f2f;
    font-size: 30px;
}

.small_txt{
color: #2f4f2f;
font-size: 30px;
}


.bottom_txt{
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 1fr;
    padding-left: 3rem;
    padding-right: 3rem;
}

.bottomtxt_1{
    grid-column: 1/2;
    grid-row: 1;
    color: #2f4f2f;
    text-align: left;
    font-size: 20px;
}


.bottomtxt_2{
    grid-column: 2/3;
    grid-row: 1;
    color: #2f4f2f;
    text-align: end;
        font-size: 20px;
}


.line{
    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 3rem;
}

}








</style>