---
import Footer from "../pages/components/footer.astro"
import Header from "../pages/components/header.astro"
import Hashtags from "../pages/components/hashtags.astro"
import Hero from "../pages/components/hero.astro"
import Herotxt from "../pages/components/herotxt.astro"
import Poster from "../pages/components/poster.astro"
import Shop from "../pages/components/shop.astro"
import Product from "../pages/components/product.astro"


---

<html lang="en">
	<head>
  <head>
    <meta name="robots" content="noindex, nofollow" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bareen x Smuk</title>
    <link rel="stylesheet" href="main.css" />
  </head>


	<body>
	 <body>
		<Header />
    <main>
		<Hero />
		<Herotxt />
		<Poster />
		<Shop />
		<Product />
		<Hashtags />
    </main>

     <footer>
		<Footer />
    </footer>
  </body>
	</body>
</html>
